<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<h1>Patients</h1>
<a href="/patients/add">Create Patients</a>
<table border="1px">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>date_of_birthday</th>
        <th>action</th>

    </tr>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td><a th:href="@{'/patients' + ${patient.id}}"><span th:text="${patient.name}"></span></a> </td>
        <td th:text="${patient.surname}"></td>
        <td th:text="${patient.dateOfBirthday}"></td>
        <td><a th:href="@{/patients/remove(id=${patient.id})}">Remove</a></td>
    </tr>
</table>
</body>
</html>